/*
Theme Name: Salient Child Theme
Theme URI: http: //mysite.com/
Description: This is a custom child theme for Salient
Author: My Name
Author URI: http: //mysite.com/
Template: salient
Version: 0.1
*/


#home-slider .swiper-slide .content p span span{font-family: Open Sans;font-style: italic;font-weight: bold;text-shadow: 0 0 10px #000;}
#home-slider .nectar-slider-wrap[data-full-width="false"]:not([data-parallax="true"]) .swiper-slide[data-x-pos="right"] .content {
  padding: 0 5% 0 0 !important;
}
#home-slider .swiper-slide[data-x-pos="right"] .content {
  left: auto;
  right: 0;
  bottom: 0 !important;
  /*top: 350px !important;*/
  text-align: right;
}
#home-slider .swiper-container .slide-count{display: none;}
.home .blog-recent .col .post-header h3, .blog-recent[data-style="default"] .col .post-header h3{font-size: 18px;}
.blog-recent .post-header h3.title a{color: #000 !important}
.border-bottom{border-bottom: 1px solid #e1e1e1;}
.border-right{border-right: 1px solid #e1e1e1;}
#formheader_1{text-align: center;}
.container-wrap, .project-title, #ajax-content-wrap .container .section-title{padding: 30px 0px 0;}
.single .container-wrap,.single .project-title,.home .container-wrap, .home .project-title,
.page-id-446 .container-wrap,.page-id-446 .project-title{padding-top:90px;}
#ajax-content-wrap .container .section-title{border-bottom: none;}

#fieldlist_1 .fields label{display: none;}

#field_1-3 textarea{
    min-height: 150px !important;
}
#fbuilder .pbreak .pbPrevious, .pbreak .pbNext, .pbSubmit {
    float: none !important;
    margin: 10px auto 0 !important;
    padding: 10px 20px !important;
    text-align: center;
    width: 120px;
}
.footer_form {
  max-width: 800px;
  margin: 0 auto;
}
#footer-widgets .col.span_3.one-fourths {
  /*border: 1px solid #444444;*/
  margin-top: 40px;
  padding: 20px 30px;
  min-height: 225px;
}
#footer-widgets .border-bottom{border-color:#444444;}

.nectar-milestone span,.nectar-milestone .symbol,.biograpy-year strong{color:#27ccc0 !important;}

@media only screen and (min-width: 1300px) {
    #home-slider .swiper-slide[data-x-pos="right"] .content {        
        width: 95% !important;       
        top: 350px !important;        
    }    
    #home-slider .swiper-slide .content p span{font-size: 34px;}
    #home-slider .swiper-slide .content p span span{font-size: 42px;}  
}
@media only screen and (min-width: 1000px) and (max-width: 1300px) {
    #home-slider .swiper-slide .content p span{font-size: 20px;}
    #home-slider .swiper-slide .content p span span{font-size: 35px;} 
}
    
/* iPad fixes */
@media only screen and (min-device-width: 481px) and (max-device-width: 1025px) {}

/* iPad landscape fixes */
@media only screen and (min-device-width: 481px) and (max-device-width: 1025px) and (orientation:landscape) {}

@media only screen and (min-width : 690px) and (max-width : 1000px) {
    #home-slider .swiper-slide .content p span{font-size: 15px;}
    #home-slider .swiper-slide .content p span span{font-size: 25px;} 
    #home-slider .swiper-slide[data-x-pos="right"] .content {        
        width: 80% !important;   
    }
}
@media only screen and (min-width : 691px) {
    #fieldlist_1 .fields {
      width: 49% !important;
    }
    #field_1-3 {
        float: right;
        margin-top: -160px;
    }   
}
@media only screen and (max-width : 690px) {
    #home-slider .swiper-slide .content p span{font-size: 12px;}
    #home-slider .swiper-slide .content p span span{font-size: 12px;} 
    #home-slider .swiper-slide[data-x-pos="right"] .content {        
        width: 100% !important;   
    }
}


@media only screen and (max-width : 1024px) {
    .awards-listing .border-right{border:none;}
    #ajax-content-wrap .container .section-title {padding: 15px 0 0px;}
}